header .control_bar a {
  font-size: 1.5rem;
}

.word_input {
  text-transform: uppercase;
  user-select: none;
  color: #f2f2f2;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.word_input_empty {
  border: 2px solid #a6a6a6;
}

.word_input_wrong {
  background-color: #595959;
}

.word_input_correct {
  background-color: #4ba94b;
}

.word_input_wrong_place {
  background-color: #b0b15d;
}
